<%# if controller.class.name == 'HomeController' && controller.action_name == 'index' %>
<%# end %>

<div id="footer-inner">
  <div id="footer-content">
    <h2>Rede Social <strong>Organiza Aê</strong></h2>
    <p>Junte-se a <a href="/nois">nois</a>.
  </div>
</div>
