<li>
  <%= search_contents_menu %>
</li>
<li>
  <%= search_people_menu %>
</li>
<li>
  <%= search_communities_menu %>
</li>
<li>
  <a href="/search/events"><span class='icon-menu-events'><%= _('Events') %></span></a>
</li>
<% if user %>
<li>
  <a href="/nois/ajuda"><span class='icon-help'><%= _('Help') %></span></a>
</li>
<% end %>
