@import url(../base/style.css);

body {
  background: #FFF;
}

#wrap-1 {
  width: auto;
}

#wrap-2 {
  border: none;
  width: 960px;
  margin: auto;
}

#theme-header {
  background: #CCC url(images/tira-organizacao.jpg);
  height: 150px;
  box-shadow: inset 0 -12px 24px rgba(0,0,0,0.7);
  border-bottom: 42px solid #CCC;
}

#site-title {
  width: auto;
  height: auto;
  top: -192px;
  left: 0px;
  overflow: visible;
}

#site-title a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  top: 0;
  left: 0;
  width: 140px;
  height: auto;
  padding: 100px 0 5px 0;
  background: #EEE url(images/logo.png) 50% 5px no-repeat;
  color: #333;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  letter-spacing: -1px;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 1px 3px 3px rgba(0,0,0,0.5);
}
/*#site-title a:before {
  position: absolute;
  bottom: -23px;
  left: -2px;
  width: 0;
  height: 0;
  border: 73px solid transparent;
  border-bottom: none;
  border-top: 21px solid rgba(0,0,0,0.2);
  content: "";
}
#site-title a:after {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 0;
  height: 0;
  border: 70px solid transparent;
  border-bottom: none;
  border-top: 20px solid #EEE;
  content: "";
}
*/

#user {
  top: -187px;
  right: 0;
  background: rgba(255,255,255,0.6);
  padding: 5px 5px 5px 20px;
  height: 20px;
  border-radius: 5px;
}

#user .welcome {
  margin: 0;
}

#user #top-search div {
  white-space: nowrap;
  position: absolute;
  right: 0;
  top: 17px;
  padding: 2px 5px;
  background: #FFF;
  color: #000;
  border-radius: 5px;
}

#navigation {
  top: -42px;
  background: transparent;
}

#navigation-end {
  display: none;
}

#content {
  margin-top: 0;
}

#main-content-wrapper-1, #main-content-wrapper-2,
#main-content-wrapper-3, #main-content-wrapper-4,
#main-content-wrapper-5, #main-content-wrapper-6,
#main-content-wrapper-7, #main-content-wrapper-8 {
  background: transparent;
  padding: 0;
}

.blog-post {
  background: transparent;
  padding: 0px;
  margin: 0px;
}

.template-rightbar .box-1 {
  margin-right: 220px;
}
.template-leftbar .box-1 {
  margin-left: 220px;
}

#theme-footer {
  margin: 0;
  width: auto;
  height: 27vw;
  background: url(images/formigas-rodape-1000.png) no-repeat 50% 100%;
  background-size: contain;
}
@media (min-width: 1200px) and (max-width: 1800px) {
  #theme-footer {
    background: url(images/formigas-rodape-1400.png) no-repeat 50% 100%;
  }
}
@media (min-width: 1800px) {
  #theme-footer {
    background: url(images/formigas-rodape-HD.indexada.png) no-repeat 50% 100%;
  }
}

#footer-inner {
  padding: 7vw 10vw;
  font-size: 1.5vw;
}

#footer-content h2 {
  font-size: 100%;
  margin: 0;
}

#footer-content p {
  margin: 0;
}

